@model BuildingMVCApplications.Models.CuisineModel
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm())
{
    <div>
        <p>
            Cuisine Type:
        </p>
    
        <p>@Html.TextBoxFor(Model=>Model.CuisineName)</p>
    </div> 

    <div>
        <button type="submit" class="btn btn-success">Search!</button>
    </div>
}