
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm())
{
    <div>
        <p>
            Cuisine Type:
        </p>
    
        <p>@Html.TextBox("Cuisine")</p>
    </div> 

    <div>
        <button type="submit" class="btn btn-success">Submit!</button>
    </div>
}