
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Restaurants.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerenityOdeToFood.Default.RestaurantsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>