
@{
    ViewBag.Title = "QualityControlRig";
}

<div class="container">

    <h2 style="font-family: Lobster, Monospace">QualityControlRig</h2>
    <p class="lead" style="text-align:center">An automated rig for testing salt and pepper grinders</p>

    <figure class="text-center">
        <img src="https://drive.google.com/uc?export=view&id=0B822K1X9crfFT3ZSdTl6T3p6VGM" class="img-responsive img-rounded img-thumbnail" alt="Completed factory rig">
        <figcaption class="figure-caption text-center">Completed factory rig</figcaption>
    </figure>

    <p>I built a rig which used a Raspberry Pi (RPi), motor and a rotary encoder. Using a Raspberry Pi allowed for the machine to have a screen, keyboard and mouse. 
    The machine works by reading signals from a rotary encoder attached to the motor shaft. The software can then work out how many degrees the motor shaft has turned. 
    When the target number of revolutions has been reached, a light comes on in order to signal that the target has been reached.</p>
    
</div><!--/container-->

