
@{
    ViewBag.Title = "QualityControlRig";
}

<div class="container">
    
    <div class="jumbotron">
        <h2 style="font-family: Lobster, Monospace">QualityControlRig</h2>
        <p class="lead" style="text-align:center">An automated rig for testing salt and pepper grinders</p>
    </div>

</div><!--/container-->

