@{
    ViewBag.Title = "About";
}

@model BuildingMVCApplications.Models.AboutModel
    
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Name: @Model.Name</p>

<div>Location: @Model.Location</div>
