@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<BuildingMVCApplications.Models.Restaurant>

@foreach (var item in Model)
{
    <h1>@item.RestaurantName</h1>//Restaurant name
    <p>@item.City</p>
}