@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to my website!</h1>
    <div class="inner"></div><!--Padding-->
    <p class="lead" style="text-align:center">A website documenting my various projects</p>
</div>

