
@{
    ViewBag.Title = "MachineLanding";
    Layout = "~/Views/Shared/_LayoutSelectionPage.cshtml";
}

<h2>My Machines</h2>

<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="https://drive.google.com/uc?export=view&id=0B822K1X9crfFRUdpMjVjQjNGc2M" alt="Generic placeholder image" width="140" height="140">
            <h2>Quality control testing rig</h2>
            <p>Machine to test salt and pepper grinders (completed)</p>
            <div class="inner"></div><!--Padding-->
            <button class="btn">@Html.ActionLink("View details", "QualityControlRig")</button>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="https://drive.google.com/uc?export=view&id=0B822K1X9crfFVjhkSnJkcEs4Y1k" alt="Generic placeholder image" width="140" height="140">
            <h2>CNC router</h2>
            <p>CNC machine of my own design (in progress)</p>
            <div class="inner"></div><!--Padding-->
            <p><a class="btn btn-default" href="https://asterixorobelix.github.io/CNCRouter.html" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="https://drive.google.com/uc?export=view&id=0B822K1X9crfFY1RWRGZCbHNZXzg" alt="Generic placeholder image" width="140" height="140">
            <h2>Drawbot</h2>
            <p>Drawing and light milling CNC machine (completed)</p>
            <div class="inner"></div><!--Padding-->
            <p><a class="btn btn-default" href="https://asterixorobelix.github.io/Drawbot.html" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <div class="inner"></div><!--Padding-->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="https://toms3d.org/wp-content/uploads/2017/02/136.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>3d printer</h2>
            <p>Prusa i3 mk2 clone (in progress)</p>
            <div class="inner"></div><!--Padding-->
            <p><a class="btn btn-default" href="https://asterixorobelix.github.io/3dPrinter.html" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="https://drive.google.com/uc?export=view&id=0B822K1X9crfFVjhkSnJkcEs4Y1k" alt="Generic placeholder image" width="140" height="140">
            <h2>Laser cutter</h2>
            <p></p>
            <div class="inner"></div><!--Padding-->
            <p><a class="btn btn-default" href="https://asterixorobelix.github.io/laserCutter.html" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="https://drive.google.com/uc?export=view&id=0B822K1X9crfFY1RWRGZCbHNZXzg" alt="Generic placeholder image" width="140" height="140">
            <h2></h2>
            <p></p>
            <div class="inner"></div><!--Padding-->
            <p><a class="btn btn-default" href="https://asterixorobelix.github.io/Drawbot.html" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

